.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 100vh;
  background: black;
  background: linear-gradient(45deg, #4b0082, #ff69b4);
  animation: bgAnimation 20s ease infinite alternate;
}

@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
    background-size: 400% 400%;
    background: linear-gradient(45deg, #ff69b4, #1e90ff);
  }
  50% {
    background-position: 0% 50%;
    background-size: 400% 400%;
    background: linear-gradient(45deg, #1e90ff, #ffd700);
  }
  75% {
    background-position: 100% 50%;
    background-size: 400% 400%;
    background: linear-gradient(45deg, #ffd700, #ff8c00);
  }
  100% {
    background-position: 0% 50%;
    background-size: 400% 400%;
    background: linear-gradient(45deg, #ff8c00, #4b0082);
  }
}


.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

textarea {
  width: 80%;
  margin: 20px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  resize: vertical; /* allow the user to resize the height */
  overflow: auto; /* add scroll bars if the content overflows */
  min-height: 100px; /* set a minimum height */
}

button {
  height: 40px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  background: #4b0082;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center; /* add this property to center the button */
  align-items: center;
}
